Django
Markdown
PyJWT
PyYAML
Werkzeug
coreapi
coverage
django-braces
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
djangorestframework
djangorestframework-gis
djangorestframework-jwt
django-rest-swagger
django-shotgun
drf-extensions
drf-hal-json
drf-nested-fields
drf-amsterdam
factory-boy
fake-factory
graypy
itypes
openapi-codec
psycopg2-binary
pyslack-real
python-dateutil
pytz
requests
simplejson
six
sphinx-me
sqlparse
uritemplate
urllib3
